@page "/counter"
@using SimpleShop.Client.HttpRepository.Interfaces
@using SimpleShop.Shared.Products.Dtos
@rendermode InteractiveAuto

<PageTitle>Counter</PageTitle>

<Product ProductModel="@_product"></Product>

<h1>Counter</h1>

<p role="status">Current count: @currentCount</p>

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>

@code {
    private int currentCount = 0;

    private ProductDto _product = new ProductDto
        {
            Name = "Rower 1",
            Price = 300,
            ImageUrl = "content/images/rower-1.png"
        };

    [Inject]
    public IProductHttpRepository ProductRepo { get; set; }

    private void IncrementCount()
    {
        currentCount++;
    }
}
